.checkoutContainer,
.totalContainer,
.shrinkedStepContainer,
.step2InputBoxes {
  padding: 10px;
}

.checkoutContainer {
  height: 92vh;
  background: #eaeaea;
  margin-top: 97px;
}

.step1Box,
.step2Box {
  width: 95%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stepNumBox {
  height: 35px;
  width: 35px;
  background-color: #239afc;
  color: white;
  border-radius: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.shippingOptsContainer {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shippingBtns {
  width: 49%;
  height: 5vh;
  background-color: Transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  border: 2px solid lightgray;
}

.shippingBtns:active,
.shippingBtns:hover {
  border: 2px solid black;
  background-color: lightgray;
  color: black;
}

.arrivalContainer {
  height: 15vh;
  width: 95%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.arrivalBox {
  height: 4vh;
  width: 66.66%;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.cartImgContainer {
  height: 20vh;
  width: 95%;
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

.itemImgContainer {
  height: 7vh;
  border: 1px solid #6666;
}

.imgBoxes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px;
}

.totalContainer {
  background-color: #fff;
  border: 1px solid lightgray;
  margin-top: 10px;
  /* margin-bottom: 80px; */
}

.subtotalBox,
.shippingBox,
.taxesBox,
.totalBox {
  width: 90%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.taxesBox {
  border-bottom: 1px solid lightgray;
}

.disabledStep2Container,
.disabledStep3Container {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 2px solid #e9e9e9;
  padding: 5px;
}

.disabledStepTitles {
  color: lightgray;
}

.disabledStep3Container {
  margin-bottom: 80px;
}

.disabledStep3Container4Step2 {
  width: 100%;
  height: 10vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  border-top: 2px solid #e9e9e9;
  padding: 5px;
  margin-bottom: 80px;
  margin-top: 50px;
  background: white;
}

.disabledStepNumBox {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgrey;
}

.disabledStepNumBox p {
  color: white;
}

.shrinkedStepContainer {
  height: 30vh;
  width: 100%;
}

.checkMarkContainer {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkMarkContainer2 {
  width: 40%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.checkAndShipContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkMarkIcon {
  width: 15px;
  background-color: green;
  border-radius: 50%;
  padding: 10px;
}

.truckIcon {
  width: 25px;
}

.shrinkedEditBtnContainer {
  width: 25%;
}

.shrinkedEditBtn {
  color: blue;
  background-color: Transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  border: 2px solid lightgray;
  padding: 10px;
  border-radius: 8px;
  letter-spacing: 0.5px;
}

.shrinkedCartImgContainer {
  height: 15vh;
  width: 95%;
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

.shrinkedArrivalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.shrinkedDate {
  margin-left: 5px;
  font-weight: 800;
}

.shrinkedStep2FirstName {
  margin: 0;
}

.step2Container {
  background-color: #eaeaea;
  border-top: 2px solid lightgray;
}

.inputTitles {
  text-align: left;
  margin: 0;
}

.step2Inputs {
  width: 100%;
}

.inputBoxes {
  margin-top: 15px;
}

.stateInputBox {
  width: 50%;
}

.zipInputBox {
  width: 40%;
}

.stateInput {
  height: 25px;
}

.zipInput {
  height: 18px;
}

.stateAndZipContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkoutFooter {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60px;
  padding: 10px;
  line-height: 38px;
  background: #fff;
  border-top: 2px solid #e9e9e9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerTotText,
.footerTotAmount {
  margin: 0;
}

.footerTotText {
  height: 25px;
}

.contBtn {
  height: 25px;
  width: 150px;
  background-color: #239afc;
  color: #e9e9e9;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  outline: none;
}

.footerTotBox {
  height: 50px;
  width: 25%;
  padding: 10px;
}
