.checkoutContainer,
.totalContainer,
.shrinkedStepContainer,
.step2InputBoxes {
  padding: 10px;
}

.disabledStep3Container4Step2Box, .disabledStep2ContainerBox, .disabledStep3ContainerBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkoutContainer {
  /* height: 92vh; */
  /* background: #eaeaea; */
  margin: 97px auto 0;
  max-width: 750px;
  /* border: 2px solid lightgray; */
}

.step1Box,
.step2Box {
  width: 95%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.step2InputBoxes {
  max-width: 750px;
  /* margin: 97px auto 0; */
  background: #eaeaea;
  /* border: 2px solid lightgray; */
}

.step2FormWrapper, .disabledStep3Container4Step2Wrapper, .disabledStep2ContainerWrapper, .disabledStep3ContainerWrapper {
  max-width: 750px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}

.stepNumBox {
  height: 35px;
  width: 35px;
  background-color: #239afc;
  color: white;
  border-radius: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.shippingOptsContainer {
  width: 300px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.shippingBtns {
  width: 125px;
  height: 40px;
  background-color: Transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  border: 2px solid lightgray;
}

.shippingBtns:active,
.shippingBtns:hover {
  border: 2px solid black;
  background-color: lightgray;
  color: black;
}

.arrivalContainer {
  /* height: 15vh; */
  width: 95%;
  display: flex;
  /* align-items: center; */
  flex-wrap: wrap;
  justify-content: space-around;
}

.arrivalBox {
  height: 4vh;
  width: 150px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.step1Container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.step2ContainerWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 500px;
}

.totalContainerAndReviewOrderWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* width: 500px; */
  margin: auto;
}

.cartImgContainer {
  /* height: 20vh;
  width: 95%; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.arrivalWrapper {
  display: flex;
  justify-content: space-around;
  width: 300px;
  margin-top: 20px;
}

.itemImgContainer {
  height: 80px;
  width: 80px;
  border: 1px solid #666;
}

.imgBoxes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px;
}

.totalContainer {
  background-color: #fff;
  border: 1px solid lightgray;
  margin-top: 10px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  /* margin-bottom: 80px; */
}

.subtotalBox,
.shippingBox,
.taxesBox,
.totalBox {
  width: 90%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.taxesBox {
  border-bottom: 1px solid lightgray;
}

.disabledStep2Container,
.disabledStep3Container {
  min-height: 13vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 2px solid #e9e9e9;
  padding: 5px;
}

.disabledStepTitles {
  color: lightgray;
}

.disabledStep3Container {
  margin-bottom: 80px;
}

.disabledStep3Container4Step2 {
  min-height: 10vh;
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 2px solid #e9e9e9;
  padding: 5px;
  margin-bottom: 80px;
  margin-top: 50px;
  background: white;
}

.disabledStripeWrapper {
  display: none;
}

.disabledStepNumBox {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgrey;
}

.disabledStepNumBox p {
  color: white;
}

.shrinkedStepWrapper {
  /* height: 30vh; */
  margin-top: 97px;
  display: flex;
}

.shrinkedStepContainer {
  /* margin-top: 97px; */
  max-width: 750px;
  margin: auto;
  width: 100%;
  min-height: 30vh
}

.checkMarkContainer {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkMarkContainer2 {
  width: 40%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.checkAndShipContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkMarkIcon {
  width: 15px;
  background-color: green;
  border-radius: 50%;
  padding: 10px;
}

.truckIcon {
  width: 25px;
}

.shrinkedEditBtnContainer {
  width: 25%;
}

.shrinkedEditBtn {
  color: blue;
  background-color: Transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  border: 2px solid lightgray;
  padding: 10px;
  border-radius: 8px;
  letter-spacing: 0.5px;
}

.shrinkedCartImgContainer {
  /* height: 15vh; */
  /* width: 95%; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.shrinkedArrivalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.shrinkedDate {
  margin-left: 5px;
  font-weight: 800;
}

.shrinkedStep2FirstName {
  margin: 0;
}

.step2Container {
  /* background-color: #eaeaea; */
  border-top: 2px solid lightgray;
}

.inputTitles {
  text-align: left;
  margin: 0;
}

.step2Inputs {
  width: 100%;
}

.inputBoxes {
  margin-top: 15px;
}

.stateInputBox {
  width: 50%;
}

.zipInputBox {
  width: 40%;
}

.stateInput {
  height: 25px;
}

.zipInput {
  height: 18px;
}

.stateAndZipContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkoutFooter {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60px;
  padding: 10px;
  line-height: 38px;
  background: #fff;
  border-top: 2px solid #e9e9e9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.footerTotText,
.footerTotAmount {
  margin: 0;
}

.footerTotText {
  height: 25px;
}

.contBtn {
  height: 25px;
  width: 150px;
  background-color: #239afc;
  color: #e9e9e9;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  outline: none;
}

.wideViewBtn {
  display: none;
}

.footerTotBox {
  height: 50px;
  width: 25%;
  padding: 10px;
}


.checkoutContBtn, .wideViewPositioning {
  display: none;
}

.arrivalWrapperForWideView {
  display: none;
  margin-top: 20px;
}

.shrinkedStep2FirstNameWrapper {
  margin-top: 20px;
}

/* @media (max-width: 500px) {
  .step2InputBoxes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .inputBoxesWrapper {
    width: 80%;
  }
} */

@media (min-width: 637px) {
  .checkoutContBtn, .disabledStripeWrapper {
    display: block;
  }

  .wideViewPositioning {
    display: block;
  }

  /* .itemImgContainer {
    height: 120px;
    width: 120px;
  } */
  .shippingOptsContainer {
    width: 510px;
    height: 200px;
    max-width: 250px;
  }
  .shippingBtns {
    width: 250px;
  }
  .arrivalWrapper, .totalContainerAndReviewOrderWrapper {
    width: 500px;
  }

  .inputBoxes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .step2Inputs {
    width: 50%;
  }

  .stateAndZipContainer {
    width: 500px;
    margin: auto;
  }

  .totalContainer {
    margin-top: 40px;
  }

  .wideViewBtn {
    display: block;
  }

  .checkMarkContainer, .checkMarkContainer2 {
    width: 200px;
  }

  .checkoutFooter  {
    display: none;
  }

  /* .mobileViewPositioning {
    display: none;
  } */

  .disabledStep3Container {
    margin: 0;
  }

  .step3AndStripeWideViewWrapper {
    width: 200px;
    display: flex;
    justify-content: space-between;
  }

  .disabledStep3Container4Step2 {
    margin-bottom: 0;
    /* margin-top: 50px; */
  }

  .checkoutContainerWrapper {
    padding: 30px;
  }

  .checkoutContainer {
    background: #eaeaea;
    border: 2px solid lightgray;
  }

  .shrinkedStepContainer {
    min-height: 34vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .step2InputBoxes {
    margin: 100px auto;
    border: 2px solid lightgray;
  }

  .contBtn:hover {
    background: #fff;
    color: #239afc; 
  }

}

@media (min-width: 1000px) {
  .arrivalWrapper {
    display: none;
  }
  .arrivalWrapperForWideView {
    display: flex;
    justify-content: space-around;
    width: 500px;
  }
}