.productContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.productContainer {
  text-align: center;
  margin-top: 20px;
}

.productName {
  margin: 0;
}

.productNum {
  margin-top: 8px;
}

.productImg {
  width: 250px;
}

.regPriceText {
  text-decoration: line-through;
  margin-bottom: 0;
}

.salePriceText {
  color: red;
  margin-top: 0;
}

.monthlySaleText {
  text-align: center;
}

/* for cart */

.costContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 80%;
}
