/* Header */

.header {
  height: 10vh;
  width: 100%;
  background-color: #666;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo-container {
  height: 8vh;
  width: 90%;
  /* background-image: url(http://www.bugstuffonline.com/templates/fallback/images/tiretracks.jpg); */
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid #ff0000; */
}

.car-image {
  height: 8vh;
  width: 20%;
  display: none;
}

.logo {
  height: 8vh;
  width: 150px;
}

.cart {
  width: 30px;
}

.hamburgerBtn {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.hamburgerSvg {
  width: 20px;
}

.cartContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bubble {
  transform: rotate(90deg);
  width: 25px;
  background-image: url("./HeaderSvgs/comment-bubble.svg");
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartCountText {
  transform: rotate(-90deg);
  font-size: 20px;
  margin-top: auto;
}

/* Menu */

.menu {
  position: fixed;
  width: 40%;
  height: 100%;
  background-color: whitesmoke;
  z-index: 2;
  cursor: pointer;
}

.menu-btns-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.accountIcon {
  width: 30px;
}

.menu-btns {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.menu-btns:hover {
  background: #5bff0a;
}

.links {
  text-decoration: none;
}

.list {
  list-style-type: none;
  padding: 15px;
}

.list-lis {
  margin-top: 10px;
  color: black;
  text-decoration: none;
}

.shopList {
  margin-bottom: 5px;
}

.categoryBtn,
.shopText {
  display: inline-block;
}

.shopText {
  margin-right: 5px;
  margin-bottom: 0;
  margin-top: 0;
}

.categoryBtn {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-family: sans-serif;
  font-size: 16px;
  padding: 0;
}

.boldShop {
  font-weight: 600;
}

@media (min-width: 768px) {
  .header {
    background-image: url(http://www.bugstuffonline.com/templates/fallback/images/tiretracks.jpg);
  }

  .hamburgerBtn {
    display: none;
  }

  .logo-container {
    border: 1px solid #ff0000;
  }
  .car-image {
    display: flex;
  }
}

/* .menu {
  height: 90vh;
  width: 42%;
  background: #000;
  color: #fff;
  position: absolute;
} */
