/* Header */

.header {
  height: 97px;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.logo-container {
  height: 8vh;
  width: 90%;
  /* background-image: url(http://www.bugstuffonline.com/templates/fallback/images/tiretracks.jpg); */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  /* border: 1px solid #ff0000; */
}

.car-image {
  height: 80px;
  width: 80px;
  display: none;
}

.logo {
  height: 8vh;
  width: 150px;
}

.cart {
  width: 30px;
}

.hamburgerBtn {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.shopChevronUpBtn {
  width: 20px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.headerLinksWrapper  {
  display: none;
}

.headerLinks {
  color: white;
}

.hamburgerSvg {
  width: 20px;
}

.accountAndCartWrapper {
    width: 20%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: space-around;
    -ms-flex-align: center;
    align-items: center;
}

.accountWrapper {
  display: none;
}

.accountIcon {
  width: 30px;
}

.accountAvatarIcon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.accountAvatarIconForMobile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #000;
}

.avatarContainer:hover .logoutOnHover {
  visibility:visible;
}

.avatarContainer:hover .loginOnHover {
  visibility:visible;
}

.accLinks {
  color: #000;
  text-decoration: none;
}

.logoutOnHover, .loginOnHover {
  width: 75px;
  height: 50px;
  background-color: lightgray;
  position: absolute;
  margin: 0;
  padding: 0;
  visibility: hidden;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accDiv {
  width: 75px;
  height: 50px;
  background-color: #fff;
  position: absolute;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accDivSpacing {
  margin-top: 10px;
}

.cartContainer {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bubble {
  transform: rotate(90deg);
  width: 25px;
  background-image: url("./HeaderSvgs/comment-bubble.svg");
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartCountText {
  transform: rotate(-90deg);
  font-size: 20px;
  margin-top: auto;
  color: #000;
}

/* Menu */

.menu {
  position: absolute;
  width: 40%;
  height: 100%;
  background-color: whitesmoke;
  z-index: 2;
  cursor: pointer;
  opacity: .95;
  top: 0;
  left: 0;
  margin-top: 97px;
}

.menu-btns {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.menu-btns:hover {
  background: #5bff0a;
}

.links {
  text-decoration: none;
}

.list {
  list-style-type: none;
  padding: 15px;
  font-size: 18px;
  letter-spacing: .06em;
  line-height: 1.5em;
}

.list-lis {
  margin-top: 10px;
  color: #fff;
  text-decoration: none;
}

.list-lis:hover {
  color: #000;
  font-weight: 800;
}

.aboutStyle {
  color: #000;
}

.shopList {
  margin-bottom: 5px;
  font-size: 18px;
  letter-spacing: .06em;
  line-height: 1.5em;
}

.categoryBtn,
.shopText {
  display: inline-block;
}

.shopText {
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 0;
  color: #000;
}

.centerChevron {
  display: flex;
  align-items: center;
}

.categoryBtn {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-family: sans-serif;
  width: 20px;
  padding: 0;
  margin-top: 5px;
}

.boldShop {
  font-weight: 600;
  font-size: 16px;
}

@media (min-width: 768px) {
  .header {
    /* background-image: url(http://www.bugstuffonline.com/templates/fallback/images/tiretracks.jpg); */
    opacity: .85;
  }

  .hamburgerBtn {
    display: none;
  }

  .headerLinksWrapper  {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 46%;
    font-size: 20px;
  }

  .logo-container {
    justify-content: space-between;
  }

  .accountWrapper {
    display: flex;
  }

  .car-image {
    display: flex;
  }

  .logoBox {
    display: flex;
    align-items: center;
    padding: 2px;
  }

  .headerLinks:hover {
    font-weight: 800;
  }

}

/* .menu {
  height: 90vh;
  width: 42%;
  background: #000;
  color: #fff;
  position: absolute;
} */
