.partContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.shopContainer {
  text-align: center;
}

.partName {
  margin-bottom: 0;
}

.modelNum {
  margin-top: 8px;
}

.partImg {
  width: 250px;
}
