.qtyBtnsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    margin: auto;
}

.adminEditContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 280px;
}

.adminCategoryContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
}

.partCategoryText {
    margin-top: 10px;
    margin-bottom: 0;
}

.partNumText {
    margin-bottom: 0;
}

.priceText {
    margin-top: 10px;
    margin-bottom: 0;
}

.saleText {
    margin-bottom: 0;
    margin-top: 10px;
}

.adminCancelBtn {
    margin-top: 10px;
}

