.qtyBtnsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    margin: auto;
}

.adminEditContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 280px;
}

.adminEditBtn {
    color: #000;
}

.adminBtnColor {
    background: #a7e8be;
}

.adminCancelBtn {
    margin-top: 10px;
    background: #5b0c12;
    color: #fff;
}

.adminCategoryContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
}

.partCategoryText {
    margin-top: 10px;
    margin-bottom: 0;
}

.partNumText {
    margin-bottom: 0;
}

.priceText {
    margin-top: 10px;
    margin-bottom: 0;
}

.saleText {
    margin-bottom: 0;
    margin-top: 10px;
}

.addToCartBtn {
    width: 135px;
    height: 35px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: #5b0c12;
    border: 1px solid lightgray; 
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    font-size: 15px;
}

.addToCartBtn:hover {
    background: #a7e8be;
}

.qtyBtns {
    cursor: pointer;
}

.qtyBtns:hover {
    color: #a7e8be !important;
}

.addBtn {
    color: #fff !important;
}

.positionPartsWrapper {
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}