.contactChevronBtn {
  width: 20px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.contactInfoBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: lightgray;
}

.contactDropdownInfoBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.contactStreetAddress {
  margin-bottom: 0;
}

.contactCityStateZip {
  margin-top: 0;
}

.googleMapContainer {
  position: relative;
  width: 250px;
  height: 250px;
}

@media (min-width: 768px) {
  .contactWrapper {
    display: none
  }
}