.privacyBg {
  padding: 10px;
  background: lightgray;
  margin-top: 97px;
}

.privacyContainer {
  padding: 10px;
  text-align: center;
  background: #fff;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
  border: 1px solid #666;
  border-radius: 5px;
}

@media (min-width: 900px) {
  .privacyContainer {
    width: 50%;
  }
}

@media (min-width: 1500px) {
  .privacyContainer {
    width: 40%;
  }
}